<div style="
display: inline-block;
    margin: 5px;
">
    <div class="neumorphism-3" (click)="open(editProfileModel)">
        <img src="/assets/images/edit.png" alt="image" style="width: 36px" />
    </div>

   
</div>

<div class="rela-block container">
    <div class="rela-block profile-card">
        <div>
            <label class="hoverable" for="fileInput" class="profile-pic">
                <img [src]="profileData[0].profile_pic">
                <div class="background"></div>
            </label>
            <br />

        </div>

        <br />
        <br />

        <div class="rela-block profile-name-container" *ngFor="let Profile of profileData">

            <div class="rela-block user-name" id="user_name">
                {{ Profile.name }}
            </div>
            <div class="rela-block user-desc" id="user_description">
                {{ Profile.email_id }}
            </div>
        </div>
    </div>
</div>



<!-- <Edit Profile  Modal> -->
<ng-template #editProfileModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" #ProfileForm="ngForm">
        <div>
            <h2 style="text-align: center;">Edit Profile</h2>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    Name
                </div>
                <div class="col-sm-5">
                    <input placeholder="Enter Name" [(ngModel)]="profile_new_id.name" name="name" />
                </div>
                <div class="col-sm-1"></div>

            </div>


            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">Profile Pic</div>
                <div class="col-sm-5">
                    <input type="file" (change)="onSelectFile($event)" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <button (click)="uploadProfilepic()"  style="    float:right; display:block; margin-right:0px; clear: left;" *ngIf="url.length>0 && image"> Upload</button>
            </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                    <button type="submit" (click)="editProfileForm()"
                        style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Submit
                    </button>

                </div>
                <div class="col-sm-4">
                    <button (click)="c('Close click')"
                        style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Close
                    </button>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </form>
</ng-template>

<!-- Edit Password Modal -->
<ng-template #editPasswordModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" (submit)="editPWDForm()" #ProfileForm="ngForm">
        <div>
            <h2 style="text-align: center;">Edit Password</h2>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    Enter Password
                </div>
                <div class="col-sm-6">
                    <input type="password" placeholder="Enter Password" name="password"
                        [type]="hide ? 'password' : 'text'" />
                    <i class="fa fa-eye-slash" aria-hidden="true" (click)="hide = !hide"
                        style="font-size:27px; align-items: center;">{{hide ? '' : ''}}</i>
             

                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">Confirm Password</div>
                <div class="col-sm-6">
                    <input type="password" placeholder="Confirm Password" name="password"
                        [type]="hide ? 'password' : 'text'" />
                    <i class="fa fa-eye-slash" aria-hidden="true" (click)="hide = !hide"
                        style="font-size:27px; align-items: center;">{{hide ? '' : ''}}</i>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                    <button type="submit" value="submit"
                        style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Submit
                    </button>

                </div>
                <div class="col-sm-4">
                    <button (click)="c('Close click')"
                        style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Close
                    </button>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </form>
</ng-template>



