
  .rela-block {
    display: block;
    position: relative;
    margin: auto;
  }
  .rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;
  }
  .floated {
    display: inline-block;
    position: relative;
    margin: false;
    float: left;
  }
  .floated.right {
    float: right;
  }

  .profile-card {
    width: calc(100% - 40px);
    padding-top: 100px;
    margin: 70px auto 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
  }
  .profile-pic {
    display: false;
    position: absolute;
    margin: false;
    top: -90px;
    left: 50%;
    right: false;
    bottom: false;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 180px;
    width: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    background-size: cover;
  }
  .profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
  }

  .profile-card-stats {
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
  }
  .profile-stat {
    height: 100%;
    width: 50%;
  }
  .profile-stat:after {
    color: #999;
  }
  .works::after {
    content: "Posts";
  }
  .followers::after {
    content: "Followers";
  }

  

  .neumorphism-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background: #ffffff;
    border-radius: 50%;
      box-shadow:
       -3px -3px 7px #ffffff, 
       3px 3px 5px rgba(94, 104, 121, 0.712);
      position: relative;
      cursor: pointer;
  }

  button {
    width: 5em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 5px #0a3a66, 
                 -5px -5px 5px #ffffff;
  
  }
  
  p {
    font-family: Lato;
  }
  
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }
