.center {
    display: flex;
    justify-content: center;
  }

.article-full-width {
    width: 100%;
    
  }

.article-form{
    width: 100%;
    margin-bottom: 1%;
  }

textarea {
    resize: none;
 }
.dropdowns{
    margin-top: 40px;
    width: 100%;
}
.input_fileupload--hidden{
  display:none;
}


//Mobile Preview CSS
/* The device with borders */
.smartphone {
  position: relative;
  width: 320px;
  height: 689px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}
.bottom-img{
  position: absolute;
  bottom:0;
}


.fishes
{
  position: relative;
  top: 0;
  left: 0;
}
.fish
{
  position: absolute;
  top: 167px;
  right: 0px;

}
.line-spacing {
  line-height: 1.25;

}
.schedu{
  margin-top: 23px;
  width: 100%;

}
.description {
  width: 100%;
 line-height:1.2;

}

button {
  position: relative;
  width: 8em;
  height: 2em;
  background-color: #1890ff;
  border: none;
  color:white;
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;
  
}
.button1 {
  position: relative;
  width: 6em;
  height: 1.8em;
  background-color: #1890ff;
  border: none;
  color:white;
  margin-top: 11px;
  border-radius: 28px;
  background: linear-gradient(145deg, #1682e6, #1a9aff);
  box-shadow:  5px 5px 10px #0a3a66, 
               -5px -5px 10px #ffffff;
  
}

#container     
{
  width:30ex; 
  outline:1px solid black; 
  padding:0 .2em; 
  background:white;
}
#container>div 
{
  display:inline-block; 
  margin:.2em 0; 
  background:#fca;
}



.registration-full-width {
  width: 100%;
  
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.button1:disabled,
.button1[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.centers{
  margin: auto;
  width: 60%;
  padding: 10px;

}
.img-container {
  width: 640px;
  height: 480px;
  // float: left;
}

.img-preview {
  width: 200px;
  height: 200px;
  // float: left;
  margin-left: 10px;
}

mat-card {
  width:100%;
  border-collapse: collapse;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;
  background: white;
}



.rows {
  margin-left: 10%;
}

table {
  width:100%;
  border-collapse: collapse;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;
  background: white;
}
th{
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;
background-color: #E0E0E0		;
}
td {
padding: 5px;
text-align: left;
border-bottom: 1px solid #ddd;  
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tr1:hover {
    background-color: #D3D3D3;
}


.table1 {
  // border-collapse: collapse;
  width: 100%;
  font-family: 'NeoTech', Fallback, sans-serif !important;
  font-size: 14px;

}

td1 {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 	
}

