<div class="row" class="d-flex justify-content-center">
    <div class="col-sm-8">
        <mat-card>
            <form #AddArticle="ngForm" class="article-form">
                <span><b>{{!onEditOpen?"Add Article News":"Edit Article News"}}</b></span>
                <div class="row" class="center">
                    <div class="col-sm-12">
                        <div class="center">
                            <mat-radio-group aria-label="Select an option" name="type" (change)="changeComboo($event)"
                                [(ngModel)]="addArticleData.type">
                                <mat-radio-button value="images">Image &nbsp;</mat-radio-button>
                                <mat-radio-button value="videos">Video &nbsp;</mat-radio-button>
                                <mat-radio-button value="magazine" *ngIf="Magazine">Magazine </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12">

                        <div *ngIf="addArticleData.type=='images'">
                            <div class="center">
                                <mat-radio-group aria-label="Select an option" name="post_type"
                                    (change)="changeComboo($event)" [(ngModel)]="addArticleData.post_type">
                                    <mat-radio-button value="normal_image">Normal Post &nbsp;
                                    </mat-radio-button>
                                    <mat-radio-button value="full_image">Full Image &nbsp;
                                    </mat-radio-button>
                                    <mat-radio-button value="image_gallery">Image Gallery &nbsp;
                                    </mat-radio-button>
                                    <mat-radio-button value="greetings">Greetings</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div>
                                <div *ngIf="addArticleData.post_type=='normal_image'">
                                    <div class="row">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-10">
                                            <mat-form-field class="article-full-width">
                                                <input matInput placeholder="Title" maxlength="70" type="text" #title
                                                    [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                                            </mat-form-field>
                                            <p align="right"
                                                [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                                <small class="md-caption">{{ 70 - title.value.length }}
                                                    Characters Left
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-sm-1 "></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-10">
                                            <mat-form-field class="description">
                                                <textarea matInput rows="5" placeholder="Description"
                                                    #descriptions="ngModel" #description type="text"
                                                    [(ngModel)]="addArticleData.description" minlength="150"
                                                    maxlength="400" name="description"></textarea>
                                            </mat-form-field>

                                            <div *ngIf="descriptions.errors?.minlength">
                                                Description must be at least 150 characters long.
                                            </div>
                                            <p align="right"
                                                [ngStyle]="{'color': (description.value.length > 360) ? 'red' : 'black' }">
                                                <small class="md-caption">{{ 400 - description.value.length }}
                                                    Characters Left</small>
                                            </p>
                                        </div>
                                        <div class="col-sm-1 "></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-3">
                                            <mat-form-field class="registration-full-width">
                                                <mat-label>Select a Category</mat-label>
                                                <mat-select [(ngModel)]="addArticleData.category_id" name="category_id">
                                                    <mat-option *ngFor="let index of categoriesData"
                                                        [value]="index.category_id">
                                                        {{index.title}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-3" *ngIf="MultiLanguage">
                                            <mat-form-field class="registration-full-width">
                                                <mat-label>Select a Language</mat-label>
                                                <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                                    <mat-option *ngFor="let index of LanguageData"
                                                        [value]="index.id">
                                                        {{index.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-3">
                                            <label class="file-label" class="dropdowns">
                                                <input type="file" (change)="fileChangeEvent($event,1)" name="image"
                                                    [(ngModel)]="addArticleData.image" />
                                            </label>
                                        </div>
                                        <div class="col-sm-1 "></div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-5">
                                            <img [src]="imgURL" height="200" width="200"  *ngIf="imgURL.length>0" />
                                        </div>
                                        <button (click)="okFullImage()" *ngIf="imgURL.length>0"
                                            style="margin-top: 10%; margin-left: 10%;">Upload
                                            Image</button>
                                    </div>

                                    <div class="row" *ngIf="!onEditOpen">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled"
                                                class="schedu">
                                                Scheduled:</mat-slide-toggle>
                                        </div>

                                        <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                                            <div>
                                                <mat-form-field>
                                                    <input matInput name="datetime"
                                                        [(ngModel)]="addArticleData.published_time"
                                                        type="datetime-local" placeholder="Scheduled Date">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div *ngIf="addArticleData.post_type=='full_image'">
                                    <div class="row">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-10 ">
                                            <mat-form-field class="article-full-width">
                                                <input matInput placeholder="Title" maxlength="70" type="text" #title
                                                    [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                                            </mat-form-field>
                                            <p align="right"
                                                [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                                <small class="md-caption">{{ 70 - title.value.length }}
                                                    Characters Left
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-sm-1 "></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-3">
                                            <mat-form-field class="registration-full-width">
                                                <mat-label>Select a Category</mat-label>
                                                <mat-select [(ngModel)]="addArticleData.category_id" name="category_id">
                                                    <mat-option *ngFor="let index of categoriesData"
                                                        [value]="index.category_id">
                                                        {{index.title}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-3" *ngIf="MultiLanguage">
                                            <mat-form-field class="registration-full-width">
                                                <mat-label>Select a Language</mat-label>
                                                <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                                    <mat-option *ngFor="let index of LanguageData"
                                                        [value]="index.id">
                                                        {{index.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-sm-4">
                                            <label class="file-label" class="dropdowns">
                                                <input type="file" (change)="fileChangeEvent($event,1)" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-5">
                                            <img [src]="imgURL" *ngIf="imgURL.length>0" height="200" width="200" />
                                        </div>
                                        <div class="col-sm-4">
                                            <button (click)="okFullImage()" *ngIf="imgURL.length>0">Upload
                                                Image</button>
                                        </div>


                                    </div>
                                    <div class="row" *ngIf="!onEditOpen">
                                        <div class="col-sm-1 "></div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled"
                                                class="schedu">
                                                Scheduled:</mat-slide-toggle>
                                        </div>
                                        <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                                            <div>
                                                <mat-form-field>
                                                    <input matInput name="datetime" [(ngModel)]="addArticleData.published_time"
                                                        type="datetime-local" placeholder="Scheduled Date">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 "></div>
                                    </div>
        
                                </div>


                            </div>
                            <div *ngIf="addArticleData.post_type=='image_gallery'">

                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-10">
                                        <mat-form-field class="article-full-width">
                                            <input matInput placeholder="Title" maxlength="70" type="text" #title
                                                [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                                        </mat-form-field>
                                        <p align="right"
                                            [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                            <small class="md-caption">{{ 70 - title.value.length }}
                                                Characters Left
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-sm-1 "></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3" *ngIf="MultiLanguage">
                                        <mat-form-field class="registration-full-width">
                                            <mat-label>Select a Language</mat-label>
                                            <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                                <mat-option *ngFor="let index of LanguageData"
                                                    [value]="index.id">
                                                    {{index.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="file-label" class="dropdowns">
                                            <input type="file" (change)="fileChangeEvent($event,2)" />
                                        </label>
                                    </div>
                                    <div class="col-sm-1 "></div>
                                </div>

                                <div></div>


                                <div class="row" style="margin-left: 0%;">
                                    <div ckass="col-sm-1"></div>
                                    <div class="col-sm-5">

                                      
                                    </div>
                                    <div class="col-sm-1">

                                    </div>
                                    <div class="col-sm-5">
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 "> </div>
                                    <div> 
                                        <img [src]="this.imgURL" *ngIf="imgURL.length>0" height="200" width="200" />
                                    </div>
                                    <div class="col-sm-4">
                                        <button (click)="okFullImage()" *ngIf="imgURL.length>0">Upload
                                            Image</button>
                                    </div>
                                    <div class="col-sm-4 "></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div *ngFor="let item of ImageArray; let i=index">
                                        <div> <a target="_blank" [attr.href]="item">Image {{i+1}}</a> <i
                                                class="material-icons" (click)="onRemoveImage(i)">clear</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!onEditOpen">
                                    <div class="col-sm-1 "></div>
                                    <div class="col-sm-4">
                                        <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled"
                                            class="schedu">
                                            Scheduled:</mat-slide-toggle>
                                    </div>
                                    <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                                        <div>
                                            <mat-form-field>
                                                <input matInput name="datetime" [(ngModel)]="addArticleData.published_time"
                                                    type="datetime-local" placeholder="Scheduled Date">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 "></div>
                                </div>
    

                            </div>
                            <div *ngIf="addArticleData.post_type=='greetings'">
                                <div class="row" style="margin-top: 1%;">
                                    <div class="col-sm-2 "></div>
                                    <div class="col-sm-3 ">
                                        Good Morning
                                    </div>
                                    <div class="col-sm-5">
                                       
                                        <input type="file" (change)="fileChangeEvent($event,'morning')" />
                                       
                                    </div>
                                    <div class="row">
                                    
                                        <div class="col-sm-2"> </div>
                                        <div class="col-sm-4"> 
                                        <img [src]="morning" height="200" width="200" *ngIf="morning.length>0 && a"/>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <button (click)="okFullImage()" *ngIf="morning.length>0 && a">Upload Image</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2 "></div>
                                    <div class="col-sm-3 ">
                                        Good Afternoon
                                    </div>
                                    <div class="col-sm-5">
                                       
                                        <input type="file" (change)="fileChangeEvent($event,'afternoon')" />
                                       
                                    </div>
                                    <div class="row">
                                    <div class="col-sm-4"> </div>
                                        <img [src]="afternoon" height="200" width="200" *ngIf="afternoon.length>0 && b"/>
                                    <div class="col-sm-4">
                                        <button (click)="okFullImage()" *ngIf="afternoon.length>0 && b">Upload
                                            Image</button>
                                    </div> 
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-2 "></div>
                                    <div class="col-sm-3 ">
                                        Good Evening
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="file" (change)="fileChangeEvent($event,'evening')" />
                                    </div>
                                    <div class="row">
                                      
                                        <img [src]="evening" *ngIf="evening.length>0 && c" height="200" width="200"/>
                                        <button (click)="okFullImage()" *ngIf="evening.length>0 && c">Upload
                                            Image</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 "></div>
                                    <div class="col-sm-3 ">
                                        Good Night
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="file" (change)="fileChangeEvent($event,'night')" />
                                    </div>
                                    <div class="row">
                                      
                                        <img [src]="night" height="200" width="200" *ngIf="night.length>0 && d" />
                                        <button (click)="okFullImage()" *ngIf="night.length>0 && d">Upload
                                            Image</button>
                                    </div>
                                </div>
                                <div *ngIf="onEditOpen">
                                    <div class="row">
                                        <div class="col-sm-2 "></div>
                                        <div class="col-sm-3 ">
                                            Good Morning
                                        </div>
                                        <div class="col-sm-5">
                                            <div *ngFor="let item of GoodMorning; let i=index">
                                                <div> <a target="_blank" [attr.href]="item">Good Morning</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2 "></div>
                                        <div class="col-sm-3 ">
                                            Good Afternoon
                                        </div>
                                        <div class="col-sm-5">
                                            <div *ngFor="let item of GoodAfternoon; let i=index">
                                                <div> <a target="_blank" [attr.href]="item">Good Afternoon</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2 "></div>
                                        <div class="col-sm-3 ">
                                            Good Evening
                                        </div>
                                        <div class="col-sm-5">
                                            <div *ngFor="let item of GoodEvening; let i=index">
                                                <div> <a target="_blank" [attr.href]="item">Good Evening</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2 "></div>
                                        <div class="col-sm-3 ">
                                            Good Night
                                        </div>
                                        <div class="col-sm-5">
                                            <div *ngFor="let item of GoodNight; let i=index">
                                                <div> <a target="_blank" [attr.href]="item">Good Night</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-3" *ngIf="MultiLanguage">
                                        <mat-form-field class="registration-full-width">
                                            <mat-label>Select a Language</mat-label>
                                            <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                                <mat-option *ngFor="let index of LanguageData"
                                                    [value]="index.id">
                                                    {{index.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-3 ">
                                      
                                        

                                        <mat-form-field>
                                            <input matInput type="string" placeholder="Choose a Date" [matDatepicker]="picker"  name="date"
                                            [(ngModel)]="addArticleData.published_time" (focus)="picker.open()" (click)="picker.open()" readonly >
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                          
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div *ngIf="addArticleData.type=='videos'">
                
                    <div class="center">
                        <mat-radio-group aria-label="Select an option" name="post_type"
                            [(ngModel)]="addArticleData.post_type">
                            <mat-radio-button value="normal_video">Half Video &nbsp;
                            </mat-radio-button>
                            <mat-radio-button value="full_video">Full Video &nbsp;
                            </mat-radio-button>
                            <mat-radio-button value="video_gallery">Video Gallery&nbsp;
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <div *ngIf="addArticleData.post_type=='normal_video'">

                            <div class="row">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-10">
                                    <mat-form-field class="article-full-width">
                                        <input matInput placeholder="Title" maxlength="70" type="text" #title
                                            [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                                    </mat-form-field>
                                    <p align="right"
                                        [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                        <small class="md-caption">{{ 70 - title.value.length }}
                                            Characters Left
                                        </small>
                                    </p>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-10">
                                    <mat-form-field class="description">
                                        <textarea matInput rows="5" placeholder="Description" #descriptions="ngModel"
                                            #description type="text" [(ngModel)]="addArticleData.description"
                                            minlength="150" maxlength="400" name="description"></textarea>
                                    </mat-form-field>
                                    <div *ngIf="descriptions.errors?.minlength">
                                        Description must be at least 150 characters long.
                                    </div>
                                    <p align="right"
                                        [ngStyle]="{'color': (description.value.length > 360) ? 'red' : 'black' }">
                                        <small class="md-caption">{{ 400 - description.value.length }}
                                            Characters Left</small>
                                    </p>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-3">
                                    <mat-form-field class="registration-full-width">
                                        <mat-label>Select a Category</mat-label>
                                        <mat-select [(ngModel)]="addArticleData.category_id" name="category_id">
                                            <mat-option *ngFor="let index of categoriesData"
                                                [value]="index.category_id">
                                                {{index.title}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-3" *ngIf="MultiLanguage">
                                    <mat-form-field class="registration-full-width">
                                        <mat-label>Select a Language</mat-label>
                                        <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                            <mat-option *ngFor="let index of LanguageData"
                                                [value]="index.id">
                                                {{index.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="col-sm-4">

                                    <mat-form-field class="article-full-width">
                                        <input matInput placeholder="Youtube Link" maxlength="70" type="text" #title
                                            [(ngModel)]="addArticleData.youtube_link" name="youtube_link">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>
                            <div class="row" *ngIf="!onEditOpen">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-4">
                                    <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled"
                                        class="schedu">
                                        Scheduled:</mat-slide-toggle>
                                </div>
                                <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                                    <div>
                                        <mat-form-field>
                                            <input matInput name="datetime" [(ngModel)]="addArticleData.published_time"
                                                type="datetime-local" placeholder="Scheduled Date">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>
                        </div>
                        <div *ngIf="addArticleData.post_type=='full_video'">
                            <div class="row">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-10">
                                    <mat-form-field class="article-full-width">
                                        <input matInput placeholder="Title" maxlength="70" type="text" #title
                                            [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                                    </mat-form-field>
                                    <p align="right"
                                        [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                        <small class="md-caption">{{ 70 - title.value.length }}
                                            Characters Left
                                        </small>
                                    </p>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>

                          

                            <div class="row">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-3" *ngIf="MultiLanguage">
                                    <mat-form-field class="registration-full-width">
                                        <mat-label>Select a Language</mat-label>
                                        <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                            <mat-option *ngFor="let index of LanguageData"
                                                [value]="index.id">
                                                {{index.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
    
                                <div class="center" class="col-sm-4">
                                    <mat-radio-group aria-label="Select an option" name="video_type"
                                        [(ngModel)]="addArticleData.video_type">
                                        <mat-radio-button value="youtube_full">Youtube Video &nbsp;
                                        </mat-radio-button>
                                        <mat-radio-button value="normal_full_video">Full Video &nbsp;
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"> </div>
                                <div class="col-sm-4" *ngIf="addArticleData.video_type=='youtube_full'">
                                    <mat-form-field class="article-full-width">
                                        <input matInput placeholder="Youtube Link" maxlength="70" type="text" #title
                                            [(ngModel)]="addArticleData.youtube_link" name="youtube_link">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4" *ngIf="addArticleData.video_type=='normal_full_video'">
                                    <label class="file-label" class="dropdowns">
                                        <input type="file" accept="video/mp4" (change)="fileChangeEvent($event,4)" />
                                    </label>
                                    <button (click)="okvideo()" *ngIf="is_video_upload">Upload
                                        Video</button>
                                    <div *ngFor="let item of videoData; let i=index">
                                        <div> <a target="_blank" [attr.href]="item">Video {{i+1}}</a> <i
                                                class="material-icons" (click)="onRemoveVideo(i)">clear</i>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row" *ngIf=!onEditOpen>
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-4">
                                    <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled"
                                        class="schedu">
                                        Scheduled:</mat-slide-toggle>
                                </div>
                                <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                                    <div>
                                        <mat-form-field>
                                            <input matInput name="datetime" [(ngModel)]="addArticleData.published_time"
                                                type="datetime-local" placeholder="Scheduled Date">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>
                        </div>
                        <div *ngIf="addArticleData.post_type=='video_gallery'">
                            <div class="row">
                                <div class="col-sm-1 "></div>
                                <div class="col-sm-10">
                                    <mat-form-field class="article-full-width">
                                        <input matInput placeholder="Title" maxlength="70" type="text" #title
                                            [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                                    </mat-form-field>
                                    <p align="right"
                                        [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                        <small class="md-caption">{{ 70 - title.value.length }}
                                            Characters Left
                                        </small>
                                    </p>
                                </div>
                                <div class="col-sm-1 "></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3" *ngIf="MultiLanguage">
                                    <mat-form-field class="registration-full-width">
                                        <mat-label>Select a Language</mat-label>
                                        <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                            <mat-option *ngFor="let index of LanguageData"
                                                [value]="index.id">
                                                {{index.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <label class="file-label" class="dropdowns">
                                        <input type="file" accept="video/mp4" (change)="fileChangeEvent($event,5)" />
                                    </label>
                                    <button (click)="okvideo()" *ngIf="is_video_upload">Upload
                                        Video</button>
                                    <div *ngFor="let item of videoArray; let i=index">
                                        <div> <a target="_blank" [attr.href]="item">Video {{i+1}}</a> <i
                                                class="material-icons" (click)="onRemoveVideo(i)">clear</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row" *ngIf="!onEditOpen">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled"
                                        class="schedu">
                                        Scheduled:</mat-slide-toggle>
                                </div>
                                <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                                    <div>
                                        <mat-form-field>
                                            <input matInput name="datetime" [(ngModel)]="addArticleData.published_time"
                                                type="datetime-local" placeholder="Scheduled Date">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div *ngIf="addArticleData.type=='magazine'">
                    <div class="row" style="align-items: center;">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <mat-form-field class="article-full-width">
                                <input matInput placeholder="Title" maxlength="70" type="text" #title
                                    [(ngModel)]="addArticleData.title" name="title" style="height: 1.5em;">
                            </mat-form-field>
                            <p align="right" [ngStyle]="{'color': (title.value.length > 60) ? 'red' : 'black' }">
                                <small class="md-caption">{{ 70 - title.value.length }} Characters Left
                                </small>
                            </p>
                        </div>
                        <div class="col-sm-1 "></div>
                    </div>

          

                    <div class="row">
                        <div class="col-sm-1 "></div>
                        <div class="col-sm-3">
                            <label class="file-label"> Background Theme
                                <input type="file" (change)="fileChangeEvent($event,'theme')" />
                            </label>
                            <div *ngFor="let item of background_image; let i=index">
                                <div> <a target="_blank" [attr.href]="item">Background Theme</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <label class="file-label"> Image Gallery
                                <input type="file" (change)="fileChangeEvent($event,2)" />
                            </label>
                            <div *ngFor="let item of ImageArray; let i=index">
                                <div> <a target="_blank" [attr.href]="item">Image {{i+1}}</a> <i class="material-icons"
                                        (click)="onRemoveImage(i)">clear</i>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3" *ngIf="MultiLanguage">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select a Language</mat-label>
                                <mat-select [(ngModel)]="addArticleData.language_id" name="language_id">
                                    <mat-option *ngFor="let index of LanguageData"
                                        [value]="index.id">
                                        {{index.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1 "></div>
                    </div>

                    <div class="row">
                        <div class="row">
                            <div class="col-sm-1 "></div>
                            <div class="col-sm-5">
                                <img [src]="imgURL" *ngIf="imgURL.length>0" height="200" width="200" />
                            </div>
                            <div class="col-sm-4">
                                <button (click)="okFullImage()" *ngIf="imgURL.length>0">Upload
                                    Image</button>
                            </div>


                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-1 "></div>
                        <div class="col-sm-4">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select a Category</mat-label>
                                <mat-select [(ngModel)]="addArticleData.category_id" name="category_id">
                                    <mat-option *ngFor="let index of categoriesData" [value]="index.category_id">
                                        {{index.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-slide-toggle name="scheduled" [(ngModel)]="addArticleData.is_scheduled" class="schedu">
                                Scheduled:</mat-slide-toggle>
                        </div>

                        <div class="col-sm-4" *ngIf="addArticleData.is_scheduled">
                            <div>
                                <mat-form-field>
                                    <input matInput name="datetime" [(ngModel)]="addArticleData.published_time"
                                        type="datetime-local" placeholder="Scheduled Date">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                </div>
         
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <button (click)="create(); submit = true;" [disabled]="submit" mat-raised-button color="primary" class="raised neu"
                            style="margin-top:5%">Submit
                            <i class="fa fa-spinner fa-spin" *ngIf="submit"></i>

                        </button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-sm-4">
        <mat-card *ngIf="addArticleData.post_type=='normal_image'">
            <div class="smartphone">
                <img src="./../../../assets/images/top-01.png" width="288px">
                <div style="position: relative; left: 0; top: 0;">
                    <div *ngIf="!onEditOpen">
                        <img [src]="imageUrl" height="200px" width="288px" class="fishes"
                        *ngIf="!isFinalImage" />
                    </div>
                  
                    <img [src]="ImageData[0]" height="200px" width="288px" class="fishes" *ngIf="isFinalImage || onEditOpen" />
                    <img src="./../../../assets/images/middle-01.png" height="32px" width="288px" class="fish" />
                </div>
                <div style="position: relative; left: 0; top: 50px;" class="line-spacing" width="288px"
                    style="font-weight: bold;">
                    {{addArticleData.title}}
                </div>
                <div style="position: relative; left: 0; top: 20px;" class="line-spacing"
                    width="288px">
                    <div>
                        {{addArticleData.description}}
                    </div>
                </div>
                <div class="content">
                    <img class="bottom-img" src="./../../../assets/images/bottom-01.png" width="288px" height="70px" />
                </div>
            </div>

        </mat-card>

        <mat-card *ngIf="addArticleData.post_type=='full_image'">
            <div class="smartphone">
                <img src="./../../../assets/images/top-01.png" width="288px">
                <div style="position: relative; left: 0; top: 0;">

                    <img [src]="imageUrl" height="473px" width="288px" class="fishes"
                        *ngIf="!isFinalImage || onEditOpen" />
                    <img [src]="ImageData[0]" height="473px" width="288px" class="fishes" *ngIf="isFinalImage" />

                    <div class="content">
                        <img class="bottom-img" src="./../../../assets/images/bottom-01.png" width="288px"
                            height="70px" />
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card *ngIf="addArticleData.post_type=='image_gallery'">
            <div class="smartphone">
                <img src="./../../../assets/images/top-01.png" width="288px">
                <div style="position: relative; left: 0; top: 0;">

                  
                    <carousel>
                        <slide *ngFor="let slide of ImageArray">
                            <img src={{slide}} height="473px" width="288px" style="display: block;">
                        </slide>
                    </carousel>

                    <div class="content">
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card *ngIf="addArticleData.post_type=='greetings'">
            <div class="smartphone">
                <img src="./../../../assets/images/top-01.png" width="288px">
                <div style="position: relative; left: 0; top: 0;">

                    <carousel>
                        <slide *ngFor="let slide of greetingsArray">
                            <img src={{slide}} height="473px" width="288px" style="display: block;" *ngIf="isFinalImage">
                        </slide>
                    </carousel>

                    <div class="content">
                    </div>
                </div>
            </div>
        </mat-card>



    </div>
</div>