<h2>Edit Employee</h2>

<div class="employee-page">
    <div class="d-flex justify-content-center">
        <mat-card>
            <form
                #EditForm="ngForm"
                class="registration-form"
                (submit)="editForm()"
            >
                <div class="center">
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="registration-full-width">
                                <input
                                    matInput
                                    placeholder="Name"
                                    type="text"
                                    [(ngModel)]="registrationData.name"
                                    name="name"
                                    styl
                                />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select a Language</mat-label>
                                <mat-select
                                    [(ngModel)]="employeeData.language_id"
                                    name="language_id"
                                    class="dropdowns"
                                >
                                    <mat-option
                                        *ngFor="let index of languageData"
                                        [value]="index.id"
                                    >
                                        {{ index.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select a Role</mat-label>
                                <mat-select
                                    [(ngModel)]="employeeData.is_admin"
                                    name="is_admin"
                                    class="dropdowns"
                                    [(value)]="is_admin"
                                >
                                    <mat-option value="true">Admin</mat-option>
                                    <mat-option value="false"
                                        >Employee</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="is_admin == 'false'">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Articles"
                                    name="Articles"
                                    >Articles</mat-slide-toggle
                                >
                            </div>
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Categories"
                                    name="Categories"
                                    >Categories</mat-slide-toggle
                                ><br />
                            </div>
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Languages"
                                    name="Languages"
                                    >Languages</mat-slide-toggle
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Locations"
                                    name="Locations"
                                    >Locations</mat-slide-toggle
                                ><br />
                            </div>
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Employee"
                                    name="Employee"
                                    >Employee</mat-slide-toggle
                                >
                            </div>
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Reporter"
                                    name="Reporter"
                                    >Reporter</mat-slide-toggle
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Magazine"
                                    name="Magazine"
                                    >Magazine</mat-slide-toggle
                                ><br />
                            </div>
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.MultiLanguage"
                                    name="MultiLanguage"
                                    >MultiLanguage</mat-slide-toggle
                                >
                            </div>
                            <div class="col-sm-4">
                                <mat-slide-toggle
                                    [(ngModel)]="permissionsData.Static_Data"
                                    name="Static_Data"
                                    >Static Data</mat-slide-toggle
                                >
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button
                            value="submit"
                            mat-raised-button
                            color="primary"
                            class="raised neu"
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>

