 <form class="article-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Choose a date</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                name="date"
                                [(ngModel)]="dateFilters.date"
                                [max]="minDate"
                                (dateChange)="onChange($event.value)"
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon
                                    >keyboard_arrow_down</mat-icon
                                >
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <!-- <mat-form-field class="registration-full-width">
                            <mat-label>Select Language</mat-label>
                            <mat-select [(ngModel)]="filter.language_id" name="category_id"
                                (onSelectionChange)="language($event.value)">
                                <mat-option *ngFor="let index of languageData" [value]="index.id">
                                    {{ index.title }}
                                </mat-option>
                            </mat-select>
                            <select class="browser-default custom-select" required
                            [(ngModel)]="filter.language_id" name="language_id"          
                            >
                              
                              <option *ngFor="let Language of languageData"
                              [value]="Language.id"
                              >{{ Language.title }}</option>
                          </select> 
                        </mat-form-field> -->
                    </form>
                    
<div class="row">
<div class="mb-10 col-lg-6">
    <h3>Push Notifications Count</h3>
    <div class="rps card">
        <div class="rp-graph">
            <div class="rp-graph">
                <canvas
                    baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [chartType]="barChartType"
                >
                </canvas>
                
            </div>
        </div>
    </div>
</div>

<div class="mb-10 col-lg-6">
    <h3>Accuracy Count</h3>
    <div class="rps card">
        
        <div class="rp-graph">
            <div class="rp-graph">
                <canvas
                    baseChart
                    [datasets]="barChartData1"
                    [labels]="barChartLabels1"
                    [options]="barChartOptions1"
                    [chartType]="barChartType1"
                >
                </canvas>
            </div>
        </div>
    </div>
</div>
</div>
<br/>
<div class="row">
    <div class="mb-10 col-lg-6">
        <h3>Articles Count</h3>
        <div class="rps card">
            <div class="rp-graph">
                <div class="rp-graph">
                    <canvas
                        baseChart
                        [datasets]="barChartData2"
                        [labels]="barChartLabels2"
                        [options]="barChartOptions2"
                        [chartType]="barChartType2"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-10 col-lg-6">
        <h3>Accuracy Count</h3>
        <div class="rps card">
            <div class="rp-graph">
                <div class="rp-graph">
                    <canvas
                        baseChart
                        [datasets]="barChartData1"
                        [labels]="barChartLabels1"
                        [options]="barChartOptions1"
                        [chartType]="barChartType1"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    </div>