<div class="text">
    <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Employee" class="tab">
            <h2>Employee Registration </h2>

      <div class="employee-page">
        <div class="d-flex justify-content-center">
          <mat-card style="margin-right: auto; margin-left: auto;">

                        <form #RegistrationForm="ngForm" class="registration-form" (submit)="create()">
                            <div class="center">
                                <div class="row ">
                                    <div class="col-sm-6">
                                        <mat-form-field class="registration-full-width">
                                            <input matInput placeholder="Name" type="text"
                                                [(ngModel)]="registrationData.name" name="name" styl>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field class="registration-full-width">
                                            <mat-label>Select a Role</mat-label>
                                            <mat-select [(ngModel)]="registrationData.role" name="role"
                                                class="dropdowns" [(value)]="role">
                                                <mat-option value="Reporter">Reporter</mat-option>
                                                <mat-option value="Sr.Reporter">Senior Reporter</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>


            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="registration-full-width">
                  <input placeholder="Email Id" pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="mail"
                    matInput [(ngModel)]="registrationData.email_id" type="text" class="input" #mail="ngModel" required>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="registration-full-width">
                  <input matInput placeholder="Password" type="password" [(ngModel)]="registrationData.password"
                    name="password" [type]="hide ? 'password' : 'text'">
                  
                                            <mat-icon
                                                matSuffix
                                                (click)="hide = !hide"
                                                >{{
                                                    hide
                                                        ? "visibility_off"
                                                        : "visibility"
                                                }}</mat-icon
                                            >
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field class="registration-full-width">
                                            <mat-label>Select a Language</mat-label>
                                            <mat-select [(ngModel)]="
                                                    registrationData.language_id
                                                " name="language_id" class="dropdowns">
                                                <mat-option *ngFor="
                                                        let index of languageData
                                                    " [value]="index.id">
                                                    {{ index.title }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field class="registration-full-width">
                                            <mat-label>Select a Role</mat-label>
                                            <mat-select [(ngModel)]="
                                                    registrationData.is_admin
                                                " name="is_admin" class="dropdowns" [(value)]="is_admin">
                                                <mat-option value="true">Admin</mat-option>
                                                <mat-option value="false">Employee</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="is_admin == 'false'">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Articles
                                                " name="Articles">Articles</mat-slide-toggle>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Categories
                                                " name="Categories">Categories</mat-slide-toggle><br />
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Languages
                                                " name="Languages">Languages</mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Locations
                                                " name="Locations">Locations</mat-slide-toggle><br />
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Employee
                                                " name="Employee">Employee</mat-slide-toggle>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Reporter
                                                " name="Reporter">Reporter</mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Magazine
                                                " name="Magazine">Magazine</mat-slide-toggle><br />
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.MultiLanguage
                                                " name="MultiLanguage">MultiLanguage</mat-slide-toggle>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-slide-toggle [(ngModel)]="
                                                    permissionsData.Static_Data
                                                " name="Static_Data">Static Data</mat-slide-toggle>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                          <mat-slide-toggle  [(ngModel)]="permissionsData.users" name="users">Users</mat-slide-toggle><br>
                                        </div>
                                        <div class="col-sm-4">
                                          <mat-slide-toggle  [(ngModel)]="permissionsData.user_articles" name="user_articles">User Articles</mat-slide-toggle>
                                        </div>
                                      </div>
                                </div>
              
                                <div class="col-sm-12">
                                    <button value="submit" mat-raised-button color="primary" class="raised neu">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="List Of Employees" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        ">
                        <th>Name</th>
                        <th>Email ID</th>
                        <th>Language</th>
                        <th>Created At</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr *ngFor="let data of employeeData">
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        {{ data.email_id }}
                    </td>
                    <td>{{ data.language_name }}</td>
                    <td>{{ data.createdAt }}</td>
                    <td
                        style="color: #1890ff"
                        
                        (click)="EditEmployee($event, data)"
                    >
                   
                        <i class="fa fa-edit"></i>Edit
                    </td>
                    <td style="color: #1890ff" (click)="del(delModel, Employee)">
                        <i class="fa fa-trash"></i>Delete
                    </td>
                </tr>
            </table>
        </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- <Edit Employee  Modal> -->
<ng-template #editModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" (submit)="editForm()" #LoginForm="ngForm">
        <div>
            <h2 style="text-align: center">Edit Employee</h2>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">Employee Name</div>
                <div class="col-sm-3">
                    <input placeholder="Employee Name" [(ngModel)]="employee_new_id.name" type="text" name="title"
                        required />
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">Language</div>
                <div class="col-sm-3">
                    <select class="browser-default custom-select" required [(ngModel)]="employeeData.language_name"
                        name="language_id">
                        <option *ngFor="let Language of languageData" [ngValue]="Language.name">
                            {{ Language.title }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">Permissions</div>
                <div class="col-sm-1">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="User" />
                        <label class="custom-control-label" for="User"></label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="newsArticles" />
                        <label class="custom-control-label" for="newsArticles"></label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="categories" />
                        <label class="custom-control-label" for="categories"></label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="employee" />
                        <label class="custom-control-label" for="employee"></label>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="staticData" />
                        <label class="custom-control-label" for="staticData"></label>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">
                    <button type="submit" value="submit" style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        ">
                        Submit
                    </button>
                </div>
                <div class="col-sm-3">
                    <button (click)="c('Close click')" style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        ">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<!-- Delete Employee  Modal  -->

<ng-template #delModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" (submit)="delForm()" #DeleteForm="ngForm">
        <div>
            <div class="row" style="margin-top: 10px; font-size: medium">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">Are You Sure You Want To Delete</div>
                <div class="col-sm-3"></div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-6">
                    <button type="submit" value="submit" style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        ">
                        Delete
                    </button>
                </div>
                <div class="col-sm-6">
                    <button (click)="c('Close click')" style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        ">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>