<mat-card [ngClass]="bgClass">
    <div>
    <mat-card-header>
        <div mat-card-avatar style="margin-left: 35%;">
            <img src={{icon}} class="icon-lg">
        </div>
    </mat-card-header>
    <!-- <mat-card-actions> -->
            <mat-card-subtitle><b>{{label}}</b></mat-card-subtitle> 
    <!-- </mat-card-actions> -->
    <mat-card-title>
        
        {{count  != undefined ? count: '0'}}

    </mat-card-title>

    </div>
</mat-card>