<button
    class="nav-item nav-link-edit"
    [routerLink]="['/add-new-articles']"
    style="float: right"
>
    Add Articles
</button>
<br />
<br />

<mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
    <mat-tab label="My Articles" class="tab">
        <!-- <mat-card> -->
            <div class="row">
                <div class="col-sm-1">
                    <button (click)="activateFilter()" class="button1">
                        Add Filter
                    </button>
                </div>
                <div class="col-sm-8" style="margin-left: 2%">
                    <div *ngIf="activateFilterButton">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="registration-full-width">
                                    <mat-label>Select a Category</mat-label>
                                    <mat-select
                                        [(ngModel)]="filter.category_id"
                                        name="category_id"
                                    >
                                        <mat-option
                                            *ngFor="let index of categoriesData"
                                            [value]="index.category_id"
                                        >
                                            {{ index.title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <button (click)="applyfilter()" class="button1">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <form class="article-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Choose a date</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                name="date"
                                [(ngModel)]="dateFilters.date"
                                [max]="minDate"
                                (dateChange)="onChange($event.value)"
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon
                                    >keyboard_arrow_down</mat-icon
                                >
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01" >
                <thead style="background-color: #f5f5f5">
                    <tr
                        class="tr1"
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Language</th>
                        <th>Title</th>
                        <th>Article Type</th>
                        <th>Category</th>
                        <th>Created on</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Comment List</th>
                        <th>Sticky</th>
                        <th>Push</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr1" *ngFor="let data of ApprovedArticlesList">
                        <td>
                            {{ data.language_name }}
                        </td>
                        <td (click)="open(viewModel, data)">
                            {{ data.title }}
                        </td>
                        <td>
                            <a
                                target="_blank"
                                [attr.href]="data.images[0]"
                                *ngIf="
                                    data.post_type == 'normal_image' ||
                                    data.post_type == 'full_image' ||
                                    data.post_type == 'image_gallery'
                                "
                            >
                                {{ data.post_type }}</a
                            >
                            <a
                                target="_blank"
                                [attr.href]="data.videos[0]"
                                *ngIf="
                                    data.post_type == 'full_video' ||
                                    data.post_type == 'normal_video' ||
                                    data.post_type == 'video_gallery'
                                "
                            >
                                {{ data.post_type }}</a
                            >
                            <div *ngIf="data.post_type == 'greetings'">
                                {{ data.post_type }}
                            </div>
                            <div *ngIf="data.post_type == 'magazine'">
                                {{ data.post_type }}
                            </div>
                        </td>
                        <td>
                            {{ data.category_name }}
                        </td>
                        <td>
                            {{ data.createAt }}
                        </td>
                        <td style="color: #1890ff">
                            <i
                                class="fa fa-edit"
                                (click)="EditArticle($event, data)"
                            ></i>
                        </td>
                        <td style="color: #1890ff" (click)="delarticle(data)">
                            <i class="fa fa-trash"></i>
                        </td>

                        <td
                            style="color: #1890ff"
                            (click)="com(CommentModel, data)"
                        >
                            <i class="fa fa-comment"></i>
                        </td>

                        <td>
                            {{ data.sticky_position }}
                            <i
                                class="fa fa-edit"
                                style="color: #1890ff"
                                (click)="sticky(Sticy, data)"
                            ></i>
                        </td>
                        <td>
                            <a
                                (click)="SendPush(data)"
                                *ngIf="data.push_status == 0"
                                >Send Push</a
                            >
                            <div *ngIf="data.push_status == 1">
                                Already Sent
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            

            <mat-paginator
                #paginator
                [length]="length"
                [pageSize]="10"
                [pageSizeOptions]="[10, 25, 100]"
                (page)="pageEvent = onNextPage($event)"
            >
            </mat-paginator>
        </mat-card>
    </mat-tab>

    <mat-tab label="Language Wise Articles" class="tab">
        <!-- <mat-card> -->
            <div class="row">
                <div class="col-sm-1">
                    <button (click)="activateFilter()" class="button1">
                        Add Filter
                    </button>
                </div>
                <div class="col-sm-7" style="margin-left: 2%">
                    <div *ngIf="activateFilterButton">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="registration-full-width">
                                    <mat-label>Select a Category</mat-label>
                                    <mat-select
                                        [(ngModel)]="filter.category_id"
                                        name="category_id"
                                    >
                                        <mat-option
                                            *ngFor="let index of LanguageList"
                                            [value]="index.category_id"
                                        >
                                            {{ index.category_name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <button (click)="applyfilter()" class="button1">
                                    Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <form class="article-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Choose a date</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker1"
                                name="date"
                                [(ngModel)]="dateFilters.languageData"
                                [max]="minDate"
                                (dateChange)="
                                    onLanguageDateChange($event.value)
                                "
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                <mat-icon matDatepickerToggleIcon
                                    >keyboard_arrow_down</mat-icon
                                >
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr
                        class="tr1"
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Name</th>
                        <th>Title</th>
                        <th>Article Type</th>
                        <th>Created At</th>
                        <th>Sticky</th>
                    </tr>
                </thead>
                <tr *ngFor="let Employee of LanguageList" class="tr1">
                    <td>
                        {{ Employee.user_name }}
                    </td>
                    <td (click)="open(viewModel, Employee)">
                        {{ Employee.title }}
                    </td>
                    <td>
                        <a
                            target="_blank"
                            [attr.href]="Employee.images[0]"
                            *ngIf="
                                Employee.post_type == 'normal_image' ||
                                Employee.post_type == 'full_image' ||
                                Employee.post_type == 'image_gallery'
                            "
                        >
                            {{ Employee.post_type }}</a
                        >
                        <a
                            target="_blank"
                            [attr.href]="Employee.videos[0]"
                            *ngIf="
                                Employee.post_type == 'full_video' ||
                                Employee.post_type == 'normal_video' ||
                                Employee.post_type == 'video_gallery'
                            "
                        >
                            {{ Employee.post_type }}</a
                        >
                        <div *ngIf="Employee.post_type == 'greetings'">
                            {{ Employee.post_type }}
                        </div>
                        <div *ngIf="Employee.post_type == 'magazine'">
                            {{ Employee.post_type }}
                        </div>
                    </td>

                    <td>{{ Employee.createAt }}</td>

                    <td>{{ Employee.sticky_position }}</td>
                </tr>
            </table>
            <mat-paginator
                #paginator
                [length]="Length"
                [pageSize]="10"
                [pageSizeOptions]="[10, 25, 100]"
                (page)="pageEvent = OnNextPage($event)"
            >
            </mat-paginator>
        </mat-card>
    </mat-tab>
</mat-tab-group>
<ng-template #editModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        (submit)="editForm()"
        #EditForm="ngForm"
    >
        <div>
            <h2 style="text-align: center">Edit Category</h2>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Language</div>
                <div class="col-sm-5"></div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Category Title</div>
                <div class="col-sm-5"></div>
                <div class="col-sm-2"></div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Category Name</div>
                <div class="col-sm-5"></div>

                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Submit
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #Sticy let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        (submit)="stickyUpdate()"
        #EditForm="ngForm"
    >
        <div>
            <table>
                <tr>
                    <h2>Sticky Value</h2>
                </tr>

                <tr>
                    <td>Sticky Position</td>
                    <td>
                        <input
                            placeholder="Sticky Position"
                            required
                            [(ngModel)]="commentData.sticky_position"
                            type="number"
                            name="name"
                        />
                    </td>
                </tr>

                <tr>
                    <td>
                        <button
                            type="submit"
                            value="submit"
                            style="
                                margin: 2px;
                                width: 6em;
                                height: 2em;
                                background-color: #1890ff;
                                border: none;
                                color: white;
                            "
                        >
                            Submit
                        </button>
                    </td>
                    <td>
                        <button
                            (click)="c('Close click')"
                            style="
                                width: 6em;
                                height: 2em;
                                background-color: #1890ff;
                                border: none;
                                color: white;
                            "
                        >
                            Close
                        </button>
                    </td>
                </tr>
            </table>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #CommentModel let-c="close" let-d="dismiss">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Comment</td>
                <td>Comment Date</td>
            </tr>
        </thead>
        <tbody>
            <tr class="tr1" *ngFor="let data of commentData">
                <td>{{ data.user_name }}</td>
                <td>{{ data.comment }}</td>
                <td>{{ data.createdAt }}</td>
            </tr>
        </tbody>
    </table>
    <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="10"
        [pageSizeOptions]="[10]"
        (page)="pageEvent = onCommentNext($event)"
    >
    </mat-paginator>
</ng-template>

<!-- View Article Modal -->
<ng-template #viewModel let-c="close" let-d="dismiss">
    <table>
        <tr>
            <div class="col-sm-12" style="font-weight: bold">Title</div>
        </tr>
        <tr>
            <div class="col-sm-12">
                {{ title_modal }}
            </div>
        </tr>
        <tr>
            <div
                class="col-sm-12"
                style="font-weight: bold"
                *ngIf="isDescription"
            >
                Description
            </div>
        </tr>
        <tr>
            <div class="col-sm-12" *ngIf="isDescription">
                {{ description_modal }}
            </div>
        </tr>
    </table>
</ng-template>
