<div class="panel">
    <mat-card>
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <!-- Filters -->
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select District</mat-label>
                                <mat-select [(ngModel)]="filter.district_id" name="category_id"
                                    (selectionChange)="district($event.value)">
                                    <mat-option *ngFor="let index of districts" [value]="index.id">
                                        {{ index.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="dateFilters.date"
                                    [max]="minDate" (dateChange)="onChange($event.value)" />
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>

                    <!-- List Of User Articles -->

                    <div class="row" *ngIf="data">
                        <div class="col-sm-12">
                            <table id="t01">
                                <thead style="background-color: #f5f5f5">
                                    <tr class="tr1" style="
                                            box-shadow: -3px -3px 7px #ffffff,
                                                3px 3px 5px
                                                    rgba(94, 104, 121, 0.712);
                                        ">
                                        <th>User Name</th>
                                        <th>District</th>
                                        <th>Title</th>
                                        <th>Published Count</th>
                                        <th>Posted At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr1" *ngFor="let data of userData" (click)="getdata(data)">
                                        <td (click)="open(editModel, data)">
                                            {{ data.user_name != undefined ? data.user_name : "--" }}
                                        </td>
                                        <td>
                                            {{ data.district != undefined ? data.district : "--" }}
                                        </td>

                                        <td>
                                            {{ data.title != undefined ? data.title : "--" }}
                                            <mat-icon *ngIf='data.post_type == "full_video"'>video_library</mat-icon>
                                            <mat-icon *ngIf='data.post_type == "full_image"'>image</mat-icon>
                                        </td>
                                       
                                        <td>
                                            {{data.published_count != undefined ? data.published_count : "--"}}
                                        </td>
                                        <td>
                                            {{ data.createAt != undefined ? data.createAt : "--"}}
                                        </td>
                                    </tr>
                                    <tr>

                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator #paginator [length]="length" [pageSize]="10"
                                (page)="pageEvent = onNextPage($event)">
                            </mat-paginator>
                        </div>
                    </div>

                    <div class="row" *ngIf="!data">
                        <img src="/assets/images/none.png" alt="image" height="150" width="100%"
                            style="margin-top: 3%; margin-left: 30%; margin-right: 20%;">
                    </div>
                </div>
            </div>

            <!-- Preview Pane -->
            <div class="col-sm-4" *ngIf="data">
                <mat-card style="background-color: aliceblue" *ngIf="userarticleData.post_type=='normal_image'">
                    <div class="row">
                        <img [src]="image" alt="Image" height="210" width="100%" />
                       
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            <mat-icon style="font-size: 16px;">location_on</mat-icon>
                            {{ userarticleData.district }}
                        </div>
                        <div class="col-lg-7">
                            <mat-icon style="font-size: 16px;">access_time</mat-icon>

                            {{ userarticleData.date_complete }}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 2%">
                        Title
                    </div>
                    <div class="row">
                        <mat-form-field class="text">
                            <input matInput name="title" [(ngModel)]="userarticleData.title" #district="ngModel"
                                #district type="text" style="height: 1.5em;">

                        </mat-form-field>
                    </div>
                    <div class="row">
                        Description
                        <mat-form-field class="description">
                            <textarea matInput rows="8" #descriptions="ngModel" #description type="text"
                                [(ngModel)]="userarticleData.description" minlength="150" maxlength="400"
                                name="description"></textarea>
                        </mat-form-field>
                    </div>




                    <div class="row" style="float: right">
                        <button (click)="edit_user_post()" [ngClass]="{ blue: toggle, green: !toggle }">
                            Update
                        </button>
                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-6">
                            <mat-slide-toggle name="scheduled"  [(ngModel)]="userarticleData.is_scheduled"
                            class="schedu">
                            Scheduled:</mat-slide-toggle>
                        </div>

                       
                   

                    <div class="col-sm-3" *ngIf="userarticleData.is_scheduled">
                        <div>
                            <mat-form-field>
                                <input matInput name="datetime" [(ngModel)]="userarticleData.published_time"
                                    type="datetime-local" placeholder="Scheduled Date">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                    <div class="row" style="margin-top: 6%">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <button (click)="approve_article()" class="green">
                                Approve
                            </button>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3" *ngIf="!isReject">
                            <button (click)="reasons()" class="red">
                                Reject
                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 6%">
                        <div *ngIf="isReject">
                            <div class="col-sm-6">
                                <mat-form-field class="registration-full-width" style="margin-top: 16%">
                                    <mat-label>Select a Reason</mat-label>
                                    <mat-select [(ngModel)]="userarticleData.reason_id" name="reason_id">
                                        <mat-option *ngFor="let index of rejectReasons" [value]="index">
                                            {{ index }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="isReject">
                            <br />
                            <div class="col-sm-3">
                                <button (click)="reject_article()" class="red">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <mat-card style="background-color: aliceblue" *ngIf="userarticleData.post_type=='full_image'">
                    <div class="row">
                        <img [src]="image" alt="Image" height="450" width="100%" />
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <mat-icon style="font-size: 16px;">location_on</mat-icon>
                            {{ userarticleData.district }}
                        </div>
                        <div class="col-lg-7">
                            <mat-icon style="font-size: 16px;">access_time</mat-icon>
                            {{ userarticleData.date_complete }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%">
                        Title
                    </div>
                    <div class="row">
                        <mat-form-field class="text">
                            <input matInput name="title" [(ngModel)]="userarticleData.title" #district="ngModel"
                                #district type="text" style="height: 1.5em;">

                        </mat-form-field>
                    </div>
                    <div class="row" style="float: right">
                        <button (click)="edit_user_post()" [ngClass]="{ blue: toggle, green: !toggle }">
                            Update
                        </button>
                    </div>
                    <br />
                    <div class="row" style="margin-top: 6%">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <button (click)="approve_article()" class="green">
                                Approve
                            </button>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3" *ngIf="!isReject">
                            <button (click)="reasons()" class="red">
                                Reject
                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 6%">
                        <div *ngIf="isReject">
                            <div class="col-sm-6">
                                <mat-form-field class="registration-full-width" style="margin-top: 16%">
                                    <mat-label>Select a Reason</mat-label>
                                    <mat-select [(ngModel)]="userarticleData.reason_id" name="reason_id">
                                        <mat-option *ngFor="let index of rejectReasons" [value]="index">
                                            {{ index }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="isReject">
                            <br />
                            <div class="col-sm-3">
                                <button (click)="reject_article()" class="red">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card>

            </div>

            <div class="col-sm-4" *ngIf="!data">
                <mat-card>
                    <img src="/assets/images/oops.png" alt="image" height="210" width="100%" style="margin-top: 17%;">
                </mat-card>


            </div>
        </div>

    </mat-card>

</div>

<ng-template #editModel let-c="close" let-d="dismiss">
        <div>
            <h2 style="text-align: center">User Details</h2>
        </div>
        <table>
            <tr>
                <td>
                    Writer Name
                </td>
                <td>
                    {{writer_details.writer_name}}
                </td>
                <td rowspan="3" colspan="2">
                    <img [src]="profile_pic" alt="Profile Pic">
                </td>
            </tr>
            <tr>
                <td>
                    Language
                </td>
                <td>
                    {{writer_details.language_name}}
                </td>
            </tr>
            <tr>
                <td>
                    State
                </td>
                <td>
                    {{writer_details.state}}
                </td>
            </tr>
            <tr>
                <td>
                    District
                </td>
                <td>
                    {{writer_details.district}}
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <td>
                    Likes
                </td>
                <td>
                    Posts
                </td>
                <td>
                    Followers
                </td>
                <td>
                    Following
                </td>
            </tr>
            <tr>
                <td>
                    {{writer_details.likes}}
                </td>
                <td>
                    {{writer_details.posts}}
                </td>
                <td>
                    {{writer_details.followers}}
                </td>
                <td>
                    {{writer_details.following}}
                </td>
            </tr>
        </table>

</ng-template>