<!-- <nav id="sidebar" class="sidebar-wrapper" [ngClass]="{sidebarPushRight: isActive}">
    <div class="sidebar-content"> -->
        <!-- <div *ngFor="let Employee of permissions">
            <div> {{Employee}}</div>
        </div> -->
        <div id="sidebar" class="sidebar-menu" class="nested-menu">
            <mat-nav-list>
              
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']" (click)="addExpandClass('')">
                    <!-- <mat-icon>dashboard</mat-icon> -->
                    <!-- <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp; -->
                    <img src="/assets/images/dash.png" alt="image" style="width:25px;"> &nbsp;
        
                    {{ 'Dashboard' | translate }}
                    <!-- [ngClass]="{'test': newColor}" (click)="toggleColor()" -->
                </a>
                 <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/add-article']"  *ngIf="permissions.Articles || is_admin">
                    <img src="/assets/images/arti.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Articles' | translate }}
                </a>
                <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/add-article']">
                    {{ 'New Articles' | translate }}
                </a>  -->
                <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/employee']">
           
                    <img src="/assets/images/prof.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Employee' | translate }}
                </a> -->
        
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/categories']" *ngIf="permissions.Categories || is_admin">
                    <img src="/assets/images/catagories.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Categories' | translate }}
                </a>
        
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/languages']"  *ngIf="permissions.Languages || is_admin">
                    <img src="/assets/images/language.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Languages' | translate }}
                </a>
                
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/static-data']"  *ngIf="permissions.Static_Data || is_admin">
                    
                    <img src="/assets/images/folder.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'StaticData' | translate }}
                        
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/locations']"  *ngIf="permissions.Locations || is_admin">
                   
                    <img src="/assets/images/locations-01.png" alt="image" style="width:25px;"> &nbsp;
                      {{ 'Locations' | translate }}
                
                </a>
        
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/registration']"  *ngIf="permissions.Employee || is_admin">
                    
                    <img src="/assets/images/employee.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Employee' | translate }}
        
                </a>
        
                
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/reporters']"  *ngIf="permissions.users || is_admin">
                    
                    <img src="/assets/images/reporter.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Reporters' | translate }}
                </a>
        
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/pending-articles']"  *ngIf="permissions.user_articles || is_admin">
                    
                    <img src="/assets/images/pend.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Pending' | translate }} ({{count.pending_count != undefined ? count.pending_count : "0"}})
                </a>
        
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/published-articles']"  *ngIf="permissions.user_articles || is_admin">
                    
                    <img src="/assets/images/appr.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Published' | translate }}({{count.published_count != undefined ? count.published_count : "0"}})
                </a>
        
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/rejected-articles']"  *ngIf="permissions.user_articles || is_admin">
                    
                    <img src="/assets/images/rej.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Rejected' | translate }}({{count.rejected_count != undefined ? count.rejected_count : "0"}})
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/pullback-articles']"  *ngIf="permissions.user_articles || is_admin">
                    
                    <img src="/assets/images/pullback.png" alt="image" style="width:25px;"> &nbsp;
                    {{ 'Pullback' | translate }} ({{count.pullback_count != undefined ? count.pullback_count : "0"}})
                </a>
        
            </mat-nav-list>
        
        </div>
     
        <!-- </div>
        </nav> -->
        
