<mat-card>
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-5"></div>

        <div class="col-sm-3">
            <mat-form-field class="registration-full-width">
                <mat-label>Status</mat-label>
                <mat-select (selectionChange)="getTransactions($event.value)" [(ngModel)]="filter.status">
                    <mat-option [value]="0">Pending</mat-option>
                    <mat-option [value]="1">Processing</mat-option>
                    <mat-option [value]="2">Success</mat-option>
                    <mat-option [value]="3">Failed</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="dateFilters.date" [max]="minDate"
                    (dateChange)="onChange($event.value)" />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row" *ngIf="filter.status==0">
        <mat-card>
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <thead style="background-color: #f5f5f5">
                            <tr class="tr1">
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Amount</th>
                                <th>Created Time</th>
                                <th>Approve</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr1" *ngFor="let data of userData">
                                <td>
                                    {{ data.name }}
                                </td>
                                <td>
                                    {{ data.transfer_to }}
                                </td>
                                <td>
                                    {{data.withdraw_amount}}
                                </td>
                                <td>
                                    {{ data.createAt }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success"
                                        (click)="approve(data,1)">Approve</button>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <mat-paginator #paginator [length]="length" [pageSize]="10"
                    (page)="pageEvent = onNextPage($event)">
                </mat-paginator> -->
                </div>
            </div>
        </mat-card>
    </div>

    <div class="row" *ngIf="filter.status==1">
        <mat-card>
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <thead style="background-color: #f5f5f5">
                            <tr class="tr1">
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Amount</th>
                                <th>Approved Time</th>
                                <th>Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr1" *ngFor="let data of userData">
                                <td>
                                    {{ data.name }}
                                </td>
                                <td>
                                    {{ data.transfer_to }}
                                </td>
                                <td>
                                    {{data.withdraw_amount}}
                                </td>
                                <td>
                                    {{ data.createAt }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary"
                                        (click)="cancel(data)">Cancel</button>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <mat-paginator #paginator [length]="length" [pageSize]="10"
                    (page)="pageEvent = onNextPage($event)">
                </mat-paginator> -->
                </div>
            </div>
        </mat-card>
    </div>

    <div class="row" *ngIf="filter.status==2">
        <mat-card>
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <thead style="background-color: #f5f5f5">
                            <tr class="tr1">
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Amount</th>
                                <th>Transaction Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr1" *ngFor="let data of userData">
                                <td>
                                    {{ data.name }}
                                </td>
                                <td>
                                    {{ data.transfer_to }}
                                </td>
                                <td>
                                    {{data.withdraw_amount}}
                                </td>
                                <td>
                                    {{data.transactiontime}}
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <mat-paginator #paginator [length]="length" [pageSize]="10"
                    (page)="pageEvent = onNextPage($event)">
                </mat-paginator> -->
                </div>
            </div>
        </mat-card>
    </div>

    <div class="row" *ngIf="filter.status==3">
        <mat-card>
            <div class="row">
                <div class="col-sm-12">
                    <table>
                        <thead style="background-color: #f5f5f5">
                            <tr class="tr1">
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Amount</th>
                                <th>Trasaction</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr1" *ngFor="let data of userData">
                                <td>
                                    {{ data.name }}
                                </td>
                                <td>
                                    {{ data.transfer_to }}
                                </td>
                                <td>
                                    {{data.withdraw_amount}}
                                </td>
                                <td>
                                    {{data.transactiontime}}
                                </td>
                                <td>
                                    {{data.reason}}
                                </td>

                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <mat-paginator #paginator [length]="length" [pageSize]="10"
                    (page)="pageEvent = onNextPage($event)">
                </mat-paginator> -->
                </div>
            </div>
        </mat-card>
    </div>

</mat-card>