button {
    top: 8px;
    left: 400px;
    width: 11em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;

}

  form {
      height: 230px;
  }
  input {
      width: 12em;
  }
  select {
      width: 12em;
  }
  
  table {
    width:100%;
    border-collapse: collapse;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;
    background: white;
}
th{
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #E0E0E0		;
}
td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;  
}



th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    top: 8px;
    left: 400px;
    width: 11em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    
    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow:  5px 5px 10px #0a3a66, 
                 -5px -5px 10px #ffffff;

}

.table1 {
    width: 100%;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    font-size: 14px;

}

td1 {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; 	
  }






.mat-card {
    
    text-align: center;
    font-family: 'NeoTech', Fallback, sans-serif !important;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
    
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-family: 'NeoTech', Fallback, sans-serif !important;

        
}
