<div style=" border-radius: 28px;">
    <button
        type="button"
        value="submit"
        class="sbmt pull-right edit-btn"
        (click)="create(createStaticData)"

        >
        <i class="fa fa-edit"></i>Add Static Data
    </button>
    </div>
    <br>
    <br>

    <div>
      <!-- <mat-card> -->
      <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="English" class="tab">
          <mat-card style="margin-right: auto; margin-left: auto;">
          <table id="t01" >
            <thead style="background-color: #f5f5f5">
                
              <tr 
              style=" box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);"
              >
                 <th>Id</th>
                 <th>Title</th>
                 <th>Static Name</th>
                 <th>Edit</th>
                 <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let index of static_data" class="tr1">
                <td>
                {{ index.static_id }}
               </td>
               
                <td>
                    {{ index.title }}
                </td>
                <td>
                  {{ index.name }}
              </td>
                <td style="color: #1890ff;"  (click)="open(editStaticData,index)">
                      <i class="fa fa-edit"></i>Edit
                   </td>
                   <td style="color: #1890ff; " (click)="open(delStaticData,index)">
                    <i class="fa fa-trash"></i>Delete
                </td> 
            </tr>
          </tbody>
        </table>
        </mat-card>
        </mat-tab>
        
          <mat-tab label="Hindi" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01" >
              <thead style="background-color: #f5f5f5">
                  
                  <tr 
                  style=" box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);"
                  >
                   <th>Id</th>
                   <th>Title</th>
                   <th>Static Name</th>
                   <th>Edit</th>
                   <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let index of static_data" class="tr1">
                  <td>
                  {{ index.static_id }}
                 </td>
                
                  <td>
                      {{ index.title }}
                  </td>
                    <td>
                      {{ index.name }}
                  </td>
                  <td style="color: #1890ff;"  (click)="open(editStaticData,index)">
                        <i class="fa fa-edit"></i>Edit
                     </td>
                     <td style="color: #1890ff; " (click)="open(delStaticData,index)">
                      <i class="fa fa-trash"></i>Delete
                  </td> 
              </tr>
            </tbody>
          </table>
          </mat-card>
          </mat-tab>

          <mat-tab label="Telugu" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01" >
              <thead style="background-color: #f5f5f5">
                  
                 <tr 
                  style=" box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);"
                  >
                   <th>Id</th>
                   <th>Title</th>
                   <th>Static Name</th>
                   <th>Edit</th>
                   <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let index of static_data" class="tr1">
                  <td>
                  {{ index.static_id }}
                 </td>
                
                  <td>
                      {{ index.title }}
                  </td>
                  <td>
                    {{ index.name }}
                </td>
                  <td style="color: #1890ff;"  (click)="open(editStaticData,index)">
                        <i class="fa fa-edit"></i>Edit
                     </td>
                     <td style="color: #1890ff; " (click)="open(delStaticData,index)">
                      <i class="fa fa-trash"></i>Delete
                  </td> 
              </tr>
            </tbody>
          </table>
          </mat-card>
          </mat-tab>

          <mat-tab label="Tamil" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01" >
              <thead style="background-color: #f5f5f5">
                  
                 <tr 
                  style=" box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);"
                  >
                   <th>Id</th>
                   <th>Title</th>
                   <th>Static Name</th>
                   <th>Edit</th>
                   <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let index of static_data" class="tr1">
                  <td>
                  {{ index.static_id }}
                 </td>
                 
                  <td>
                      {{ index.title }}
                  </td>
                  <td>
                    {{ index.name }}
                </td>
                  <td style="color: #1890ff;"  (click)="open(editStaticData,index)">
                        <i class="fa fa-edit"></i>Edit
                     </td>
                     <td style="color: #1890ff; " (click)="open(delStaticData,index)">
                      <i class="fa fa-trash"></i>Delete
                  </td> 
              </tr>
            </tbody>
          </table>
          </mat-card>
          </mat-tab>

          <mat-tab label="Kannada" class="tab">
             <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01" >
              <thead style="background-color: #f5f5f5">
                <tr 
                  style=" box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);"
                  >
                   <th>Id</th>
                   <th>Title</th>
                   <th>Static Name</th>
                   <th>Edit</th>
                   <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
              <tr *ngFor="let index of static_data" class="tr1">
                  <td>
                  {{ index.static_id }}
                 </td>
                  
                  <td>
                      {{ index.title }}
                  </td>
                  <td>
                    {{ index.name }}
                </td>
                  <td style="color: #1890ff;"  (click)="open(editStaticData,index)">
                        <i class="fa fa-edit"></i>Edit
                     </td>
                     <td style="color: #1890ff; " (click)="open(delStaticData,index)">
                      <i class="fa fa-trash"></i>Delete
                  </td> 
              </tr>
            </tbody>
          </table>
          </mat-card>
          </mat-tab>
        </mat-tab-group>
    <!-- </mat-card> -->
      </div>
    
    


  
 


  <ng-template #editStaticData let-c="close" let-d="dismiss">
    <form class="content" role="form"  
      method="post"
      (submit)="edit_staticData()"
      #EditStaticDataForm="ngForm"
      >
      
      <div>
          <h2 style="text-align: center;">Edit Static Dataa</h2>
            <div class="row" style="margin-top: 10px;">
            <div class="col-sm-2"></div> 
            <div class="col-sm-3">Title</div>
            <div class="col-sm-5">
              <input required placeholder="Static Title"
              [(ngModel)]="edit_static_data.title"
              type="text"
              name="title"
              required
              /> 
            </div>
            <div class="col-sm-2"></div>
            </div>    




            
            <div class="row" style="margin-top: 10px;">
              <div class="col-sm-2"></div> 
              <div class="col-sm-3">Name</div>
              <div class="col-sm-5">
                <input required placeholder="Static Name"
                [(ngModel)]="edit_static_data.name"
                type="text"
                name="name"
                required
                /> 
              </div>
              </div>    


              <div class="row" style="margin-top: 10px;">
                <div class="col-sm-3"> 
                    
                    </div>
                    <div class="col-sm-3"> 
                    
                            <button
                            type="submit"
                            value="submit" style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;"
                            
                            >
                            Submit
                        </button>
                          
                    </div>
                    <div class="col-sm-4"> 
                        <button (click)="c('Close click')" style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                            Close
                        </button>
                    </div>
                    <div class="col-sm-2"> 
                    
                    </div>
                
                </div>
              
    
    </div>
    </form>
    </ng-template> 


    <ng-template #createStaticData let-c="close" let-d="dismiss">  
      <form class="content" role="form"  
        method="post"
        (submit)="create_staticData()"
        #CreateStaticData="ngForm"
        >
        
        <div>
            <h2 style="text-align: center;">Add Static Data</h2>
              <div class="row" style="margin-top: 10px;">
              <div class="col-sm-2"></div> 
              <div class="col-sm-3">Title</div>
              <div class="col-sm-5">
                <input required placeholder="Static Title"
                [(ngModel)]="create_static_data.title"
                type="text"
                name="title"
                required
                /> 
              </div>
              <div class="col-sm-2"></div>
              </div>    
  
              <div class="row" style="margin-top: 10px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                Select Language    
                </div>
                    <div class="col-sm-5">
                            <select class="browser-default custom-select" required
                            [(ngModel)]="create_static_data.language_id" name="language_id"          
                            >
                              <option value="" hidden>Status</option>
                              <option *ngFor="let Language of languageData"
                              [value]="Language.id"
                              >{{ Language.title }}</option>
                          </select> 
                    </div>
                    <div class="col-sm-2"></div>
                </div>
      
              <div class="row" style="margin-top: 10px;">
                <div class="col-sm-2"></div> 
                <div class="col-sm-3">Name</div>
                <div class="col-sm-5">
                  <input required placeholder="Static Name"
                  [(ngModel)]="create_static_data.name"
                  type="text"
                  name="name"
                  required
                  /> 
                </div>
                </div>    
  
  
                <div class="row" style="margin-top: 10px;">
                  <div class="col-sm-3"> 
                      
                      </div>
                      <div class="col-sm-3"> 
                      
                              <button
                              type="submit"
                              value="submit" style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;"
                              >
                              Submit
                          </button>
                            
                      </div>
                      <div class="col-sm-4"> 
                          <button (click)="c('Close click')" style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                              Close
                          </button>
                      </div>
                      <div class="col-sm-2"> 
                      
                      </div>
                  
                  </div>
                
      
      </div>
      </form>
      </ng-template> 
     
