<div class="text">
  <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
    <mat-tab label="Users" class="tab">
      <mat-card style="margin-right: auto; margin-left: auto;">
      <table id="t01">
        <thead style="background-color: #f5f5f5">
          <tr class="tr1" style="box-shadow:  -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);">
            <th>Name</th>
            <th>Mobile Number</th>
            <th>District</th>
            <th>Language</th>
            <th>Articles</th>
            <th>Approve</th>
            <th>Reject</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr1" *ngFor="let data of userData">
            <td>
              {{data.name}}
            </td>
            <td>
              {{data.mobile_number}}
            </td>
            <td>
              {{data.district}}
            </td>
            <td>
              {{data.language_name}}
            </td>
            <td (click)="com(CommentModel,data)">
              <a>Get Articles</a>
            </td>
            <td>
              <button type="button" class="btn btn-success" (click)="update_user_status(data,1)">Approve</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="update_user_status(data,0)">Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator #paginator [length]="length" [pageSize]="10"
                (page)="pageEvent = onNextPage($event)">
            </mat-paginator>
            </mat-card>
    </mat-tab>
    <mat-tab label="Reporter" class="tab">
      <mat-card style="margin-right: auto; margin-left: auto;">
      <table id="t01">
        <thead style="background-color: #f5f5f5">
          <tr class="tr1" style="box-shadow:  -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, 0.712);">
            <th>Name</th>
            <th>District</th>
            <th>Language</th>
            <th>Articles</th>
            <th>Role</th>
            <th>Posts</th>
            <th>Likes</th>
            <th>Followers</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr1" *ngFor="let data of reportersData">

            <td>
              {{data.writer_name}}
            </td>
            <td>
              {{data.district}}
            </td>
            <td>
              {{data.language_name}}
            </td>
            <td (click)="article(Articles,data)">
              <a>Get Articles</a>
            </td>
            <td>
              {{data.role}}
            </td>
            <td>
              {{data.posts}}
            </td>
            <td>
              {{data.likes}}
            </td>
            <td>
              {{data.followers}}
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="block(data)">Block</button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator #paginator [length]="reporterlength" [pageSize]="10"
      (page)="pageEvent = onNextReporterPage($event)">
  </mat-paginator>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #CommentModel let-c="close" let-d="dismiss">
  <table>
      <thead>
          <tr>
              <td>Title</td>
              <td>Description</td>
              <td>Post Status</td>
              <td>Image Link</td>
              <td>Created At</td>
          </tr>
      </thead>
      <tbody>
          <tr class="tr1" *ngFor="let data of singleUserArticles">
              <td>{{data.title}}</td>
              <td>{{data.description}}</td>
              <td>{{data.post_status}}</td>
              <td><a target="_blank" [attr.href]="data.images[0]">Image Link</a></td>
              <td>{{data.createdAt}}</td>
          </tr>
      </tbody>
  </table>
</ng-template>

<ng-template #Articles let-c="close" let-d="dismiss">
  <table>
      <thead>
          <tr>
              <td>Title</td>
              <td>Description</td>
              <td>Post Status</td>
              <td>Image Link</td>
              <td>Created At</td>
          </tr>
      </thead>
      <tbody>
          <tr class="tr1" *ngFor="let data of singleUserArticles">
              <td>{{data.title}}</td>
              <td>{{data.description}}</td>
              <td>{{data.post_status}}</td>
              <td><a target="_blank" [attr.href]="data.images[0]">Image Link</a></td>
              <td>{{data.createdAt}}</td>
          </tr>
      </tbody>
  </table>
  <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[ 10]"
      (page)="pageEvent = onCommentNext($event)">
  </mat-paginator>
</ng-template>