<div>
    <button
        type="button"
        value="submit"
        (click)="open_category(addModel, Category)"
    >
        <i class="fa fa-edit"></i>Add Category
    </button>
</div>
<br />
<br />



<div>
<mat-tab-group style="margin-top: 10px;">
  <mat-tab label="Active" class="tab"></mat-tab>
    <mat-tab label="InActive" class="tab"></mat-tab>    
  </mat-tab-group>
</div>

 

<div>
    <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="English" class="tab">
             <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr
                        class="tr1"
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Id</th>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr *ngFor="let index of categoryDataNew" class="tr1">
                    <td>
                        {{
                            index.category_id != undefined
                                ? index.category_id
                                : "--"
                        }}
                    </td>
                    <td>
                        {{ index.name != undefined ? index.name : "--" }}
                    </td>
                    <td>
                        {{ index.title != undefined ? index.title : "--" }}
                    </td>
                    <td style="color: #1890ff" (click)="open(editModel, index)">
                        <i class="fa fa-edit"></i>Edit
                    </td>
                    <td
                        style="color: #1890ff"
                        (click)="del(delModel, index, 1)"
                    >
                        <i class="fa fa-trash"></i>Delete
                    </td>
                </tr>
            </table>
            </mat-card>
        </mat-tab>

        <mat-tab label="Hindi" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr
                        class="tr1"
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Id</th>
                        <th>Title</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr *ngFor="let index of categoryDataNew" class="tr1">
                    <td>
                        {{ index.category_id }}
                    </td>

                    <td>
                        {{ index.title }}
                    </td>
                    <td>
                        {{ index.name }}
                    </td>
                    <td style="color: #1890ff" (click)="open(editModel, index)">
                        <i class="fa fa-edit"></i>Edit
                    </td>
                    <td
                        style="color: #1890ff"
                        (click)="del(delModel, index, 1)"
                    >
                        <i class="fa fa-trash"></i>Delete
                    </td>
                </tr>
            </table>
            </mat-card>
        </mat-tab>

        <mat-tab label="Telugu" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr
                        class="tr1"
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Id</th>
                        <th>Title</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr *ngFor="let index of categoryDataNew" class="tr1">
                    <td>
                        {{ index.category_id }}
                    </td>

                    <td>
                        {{ index.title }}
                    </td>
                    <td>
                        {{ index.name }}
                    </td>
                    <td style="color: #1890ff" (click)="open(editModel, index)">
                        <i class="fa fa-edit"></i>Edit
                    </td>
                    <td
                        style="color: #1890ff"
                        (click)="del(delModel, index, 1)"
                    >
                        <i class="fa fa-trash"></i>Delete
                    </td>
                </tr>
            </table>
            </mat-card>
        </mat-tab>

        <mat-tab label="Tamil" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr
                        class="tr1"
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Id</th>
                        <th>Title</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr *ngFor="let index of categoryDataNew" class="tr1">
                    <td>
                        {{ index.category_id }}
                    </td>

                    <td>
                        {{ index.title }}
                    </td>
                    <td>
                        {{ index.name }}
                    </td>
                    <td style="color: #1890ff" (click)="open(editModel, index)">
                        <i class="fa fa-edit"></i>Edit
                    </td>
                    <td
                        style="color: #1890ff"
                        (click)="del(delModel, index, 1)"
                    >
                        <i class="fa fa-trash"></i>Delete
                    </td>
                </tr>
            </table>
            </mat-card>
        </mat-tab>

        <mat-tab label="Kannada" class="tab">
            <mat-card style="margin-right: auto; margin-left: auto;">
            <table id="t01">
                <thead style="background-color: #f5f5f5">
                    <tr
                        style="
                            box-shadow: -3px -3px 7px #ffffff,
                                3px 3px 5px rgba(94, 104, 121, 0.712);
                        "
                    >
                        <th>Id</th>
                        <th>Title</th>
                        <th>Category Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tr *ngFor="let index of categoryDataNew" class="tr1">
                    <td>
                        {{ index.category_id }}
                    </td>

                    <td>
                        {{ index.title }}
                    </td>
                    <td>
                        {{ index.name }}
                    </td>
                    <td style="color: #1890ff" (click)="open(editModel, index)">
                        <i class="fa fa-edit"></i>Edit
                    </td>
                    <td
                        style="color: #1890ff"
                        (click)="del(delModel, index, 1)"
                    >
                        <i class="fa fa-trash"></i>Delete
                    </td>
                </tr>
            </table>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- <Add Category  Modal> -->
<ng-template #addModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        (submit)="addForm()"
        #AddForm="ngForm"
    >
        <div>
            <h2 style="text-align: center">Add Category</h2>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Language</div>
                <div class="col-sm-5">
                    <select
                        class="browser-default custom-select"
                        required
                        [(ngModel)]="categoryData.language_id"
                        name="language_id"
                    >
                 

                        <option
                            *ngFor="let Language of languageData"
                            [ngValue]="Language.id"
                        >
                            {{ Language.title }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Category Title</div>
                <div class="col-sm-5">
                    <select
                        class="browser-default custom-select"
                        required
                        [(ngModel)]="categoryDropdown"
                        name="category_id"
                    >
             
                        <option
                            *ngFor="let Category of categoryTitle"
                            [ngValue]="Category"
                        >
                            {{ Category.title }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Category Name</div>
                <div class="col-sm-5">
                    <input
                        placeholder="Category Name"
                        required
                        placeholder="Enter Category Name"
                        [(ngModel)]="categoryData.name"
                        type="text"
                        name="name"
                        required
                    />
                </div>

                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Submit
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>

<!--   Edit Category Modal   -->
<ng-template #editModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        (submit)="editForm()"
        #EditForm="ngForm"
    >
        <div>
            <h2 style="text-align: center">Edit Category</h2>


            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Language</div>
                <div class="col-sm-5">
                    <select
                        class="browser-default custom-select"
                        required
                        [(ngModel)]="category_new_id.language_id"
                        name="language_id"
                    >

                        <option
                            *ngFor="let Language of languageData"
                            [ngValue]="Language.id"
                        >
                            {{ Language.title }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Category Title</div>
                <div class="col-sm-5">
                    <select
                        class="browser-default custom-select"
                        required
                        [(ngModel)]="category_new_id"
                        name="title"
                    >

                        <option
                            *ngFor="let Category of categoryTitle"
                            [ngValue]="Category"
                        >
                            {{ Category.title }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">Category Name</div>
                <div class="col-sm-5">
                    <input
                        placeholder="Category Name"
                        required
                        placeholder="Enter Category Name"
                        [(ngModel)]="category_new_id.name"
                        type="text"
                        name="name"
                        required
                    />
                </div>

                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Submit
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>



<!-- Delete District  Modal  -->

<ng-template #delModel let-c="close" let-d="dismiss">
    <form
        class="content"
        role="form"
        method="post"
        (submit)="delForm()"
        #DeleteForm="ngForm"
    >
        <div>
            <div class="row" style="margin-top: 10px; font-size: medium">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">Are You Sure You Want To Delete</div>
                <div class="col-sm-3"></div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button
                        type="submit"
                        value="submit"
                        style="
                            margin: 2px;
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Delete
                    </button>
                </div>
                <div class="col-sm-4">
                    <button
                        (click)="c('Close click')"
                        style="
                            width: 6em;
                            height: 2em;
                            background-color: #1890ff;
                            border: none;
                            color: white;
                        "
                    >
                        Close
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
</ng-template>

