<div class="panel">
    <mat-card>
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-3">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select District</mat-label>
                                <mat-select [(ngModel)]="filter.district_id" name="category_id"
                                    (onSelectionChange)="district($event.value)">
                                    <mat-option *ngFor="let index of districts" [value]="index.id">
                                        {{ index.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                      
                        <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="dateFilters.date"
                                    [max]="minDate" (dateChange)="onChange($event.value)" />
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>

                    <!--- List Of User Articles --->

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="t01">
                                <thead style="background-color: #f5f5f5">
                                    <tr class="tr1" style="
                                            box-shadow: -3px -3px 7px #ffffff,
                                                3px 3px 5px
                                                    rgba(94, 104, 121, 0.712);
                                        ">
                                        <th>User Name</th>
                                        <th>Title</th>
                                        <th>Post Type</th>
                                        <th>Approved By</th>
                                        <th>Posted At</th>
                                        <th>Push Notifications</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr1" *ngFor="let data of userData" (click)="getdata(data)">
                                        <td>
                                            {{ data.user_name }}
                                        </td>
                                        <td>
                                            {{ data.title }}
                                        </td>
                                        <td>
                                            {{data.post_type}}
                                        </td>
                                        <td>
                                            {{data.approved_by}}
                                        </td>
                                        <td>
                                            {{ data.createdAt }}
                                        </td>
                                        <td> <a (click)="SendPush(data)" *ngIf="data.push_status==0">Send Push</a>
                                            <div *ngIf="data.push_status==1"> Already Sent</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <div class="row" *ngIf="!data">
                                           
                                                <img src="/assets/images/none.png" alt="image" height="150" width="100%" style="margin-top: 3%; margin-left: 30%; margin-right: 20%;">
                        
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator #paginator [length]="length" [pageSize]="10"
                                (page)="pageEvent = onNextPage($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Preview Pane -->

            <div class="col-sm-4" *ngIf="data">
                <mat-card style="background-color: aliceblue">
                    <div class="row">
                        <img [src]="image" alt="Image" height="210" width="100%" />
                   
                    </div>
                    <div class="row" style="margin-top: 2%">
                        Title
                        <div class="col-lg-3"></div>
                        <div class="col-lg-8">
                    <mat-icon style="font-size: 16px;">location_on</mat-icon>
                    
                        {{ userarticleData.district }}
                        </div>
               
                </div>
                    <div class="row">
                        <mat-form-field class="text">
                            <input matInput name="title" [(ngModel)]="userarticleData.title" #district="ngModel"
                                #district type="text" style="height: 1.5em;"/>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        Description
                        <mat-form-field class="description">
                            <textarea matInput rows="8" #descriptions="ngModel" #description type="text"
                                [(ngModel)]="userarticleData.description" minlength="150" maxlength="400"
                                name="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row" style="float: right">
                        <button (click)="edit_user_post()" [ngClass]="{ blue: toggle, green: !toggle }">
                            Update
                        </button>
                    </div>
                    <br />
                    <div class="row" *ngIf="!isReject">
                        <button (click)="reasons()" [ngClass]="{ red: toggle, green: !toggle }">
                            Pullback
                        </button>
                    </div>
                    <div class="row" style="margin-top: 6%">
                        <div *ngIf="isReject">
                            <div class="col-sm-6">
                                <mat-form-field class="registration-full-width" style="margin-top: 16%">
                                    <mat-label>Select a Reason</mat-label>
                                    <mat-select [(ngModel)]="userarticleData.reason_id" name="reason_id">
                                        <mat-option *ngFor="let index of rejectReasons" [value]="index">
                                            {{ index }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="isReject">
                            <br />
                            <div class="col-sm-3">
                                <button (click)="pullback_article()" class="red">
                                    Pullback
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-sm-4" *ngIf="!data">
                <mat-card>
                    <img src="/assets/images/oops.png" alt="image" height="510" width="100%" style="margin-top: 17%;" class="center">
                    </mat-card>

              
            </div>
        </div>
    </mat-card>
   
</div>

<script>
    let rotateImage = () => {
        let img = new Image();
        img.src = document.getElementById('myimage').src;
       
        // Create a canvas object.
        let canvas = document.createElement("canvas");
        
        // Wait till the image is loaded.
        img.onload = function(){
            rotateImage();
            saveImage(img.src.replace(/^.*[\\\/]/, ''));
        }
        
        let rotateImage = () => {
            // Create canvas context.
            let ctx = canvas.getContext("2d");	
            // Assign width and height.
            canvas.width = img.width;
            canvas.height = img.height;
            ctx.translate(canvas.width / 2,canvas.height / 2);
            // Rotate the image and draw it on the canvas. 
                // (I am not showing the canvas on the webpage.
            ctx.rotate(Math.PI);
            ctx.drawImage(img, -img.width / 2, -img.height / 2);
        }
        let saveImage = (img_name) => {
            let a = document.createElement('a');
            a.href = canvas.toDataURL("image/png");
            a.download = img_name;
            document.body.appendChild(a);
            a.click();        
        }
    }
</script>
