<div class="panel">
    <mat-card>
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <!-- Filters -->
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <mat-form-field class="registration-full-width">
                                <mat-label>Select District</mat-label>
                                <mat-select [(ngModel)]="filter.district_id" name="category_id"
                                    (selectionChange)="district($event.value)">
                                    <mat-option *ngFor="let index of districts" [value]="index.id">
                                        {{ index.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                     
                        <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="dateFilters.date"
                                    [max]="minDate" (dateChange)="onChange($event.value)" />
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>

                    <!-- List Of User Articles -->

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="t01">
                                <thead style="background-color: #f5f5f5">
                                    <tr class="tr1" style="
                                            box-shadow: -3px -3px 7px #ffffff,
                                                3px 3px 5px
                                                    rgba(94, 104, 121, 0.712);
                                        ">
                                        <th>User Name</th>
                                        <th>Title</th>
                                        <th>Post Type</th>
                                        <th>Posted At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr1" *ngFor="let data of userData" (click)="getdata(data)">
                                        <td>
                                            {{ data.user_name }}
                                        </td>
                                        <td>
                                            {{ data.title }}
                                        </td>
                                        <td>
                                            {{data.post_type}}
                                            </td>
                                        <td>
                                            {{ data.createdAt }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <div class="row" *ngIf="!data">
                                           
                                                <img src="/assets/images/none.png" alt="image" height="150" width="100%" style="margin-top: 3%; margin-left: 30%; margin-right: 20%;">
                        
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator #paginator [length]="length" [pageSize]="10"
                            (page)="pageEvent = onNextPage($event)">
                        </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Preview Pane -->

            <div class="col-sm-4" *ngIf="data">
                <mat-card style="background-color: aliceblue">
                    <div class="row">
                        <img [src]="image" alt="Image" height="210" width="100%" />
                    
                    </div>
                    <div class="row" style="margin-top: 2%">
                        Title
                        <div class="col-lg-3"></div>
                        <div class="col-lg-8">
                    <mat-icon style="font-size: 16px;">location_on</mat-icon>
                    
                        {{ userarticleData.district }}
                        </div>
               
                </div>
                    <div class="row">
                        <mat-form-field class="text">
                            <input matInput name="title" readonly [(ngModel)]="userarticleData.title" #district="ngModel"
                                #district type="text" style="height: 1.5em;"/>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        Description
                        <mat-form-field class="description">
                            <textarea matInput rows="8" readonly #descriptions="ngModel" #description
                                type="text" [(ngModel)]="userarticleData.description" minlength="150" maxlength="400"
                                name="description"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        Pull Back Reason : {{userarticleData.reason}}
                    </div>
                    
                </mat-card>
            </div>
            <div class="col-sm-4" *ngIf="!data">
                <mat-card>
                    <img src="/assets/images/oops.png" alt="image" height="510" width="100%" style="margin-top: 17%;">
                    </mat-card>

              
            </div>
        </div>
    </mat-card>
    <!-- <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[ 10, 25, 100]"
                (page)="pageEvent = onNextPage($event)">
            </mat-paginator> -->
</div>