table {
    width: 100%;
    display: table;
    margin: 0;
    height: 100%;
    text-align: center;
}

.th1 {
    color: white;
    background: coral;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    font-size: 15px;
    margin-top: 15px;
}

.txt {
    align-items: center;
    font-size: 15px;
    margin-top: 7px;
}
tbody {
    background-color: white;
}

tr {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.btn {
    right: 50px;
    width: 3em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: "NeoTech", Fallback, sans-serif !important;

    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
}
button {
    top: 12px;
    margin-bottom: 20px;
    right: 50px;
    width: 3em;
    height: 2.5em;
    background-color: #1890ff;
    border: none;
    color: white;
    font-family: "NeoTech", Fallback, sans-serif !important;

    border-radius: 28px;
    background: linear-gradient(145deg, #1682e6, #1a9aff);
    box-shadow: 5px 5px 5px #0a3a66, -5px -5px 5px #ffffff;
}

.neumorphism-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    background: #ffffff;
    border-radius: 50%;

    position: relative;
    cursor: pointer;
}
.neumorphism-3:after {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffffb0,
        inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}

.color {
    color: #1890ff;
}

.edit {
    margin: 2px;
    width: 6em;
    height: 2em;
    background-color: #1890ff;
    border: none;
    color: white;
}
