<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <table class="table">
                <thead>
                    <th class="th1">State</th>
                </thead>
                <tbody>
                    <tr *ngFor="let state of stateDataNew" class="table table-striped">               
                        <td  (click)="view_districts(state.id)">
                            {{ state.title }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>




        <!-- Districts List -->
        <div class="col-sm-3" *ngIf="clickMessage">

            <table class="table">
                <thead>
                    <th (click)="open(addDistrictModel)" class="neumorphism-3" class="btn"
                        class="sbmt pull-center edit-btn" class="th1">
                        District
                        <img src="/assets/images/plus.png" alt="image" style="width:25px;">

                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let Location of locationDataNew" class="table table-striped">               
                        <td>
                            <div class="row">
                                <div class="col-sm-8" style="float:left;">
                                    {{ Location.title }}
                                </div>
                                <div class="col-sm-1">
                                    <i class="fa fa-edit" (click)="open(editDistrictModel,Location)"
                                        style="color: #1890ff;"></i>
                                </div>
                                <div class="col-sm-1">
                                    <i class="fa fa-trash" (click)="del(delDistrictModel,Location)"
                                        style="color: #1890ff;"></i>
                                </div>
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>
      

        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
</div>




<!-- <Add District  Modal> -->

<ng-template #addDistrictModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" (submit)="addForm()" #LoginForm="ngForm">

        <div>
            <h2 style="text-align: center;">Add District</h2>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    District Name
                </div>
                <div class="col-sm-5">
                    <input placeholder="District Name" [(ngModel)]="locationData.title" type="text" name="title"
                        required />
                </div>
                <div class="col-sm-1"></div>

            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    Native Name
                </div>
                <div class="col-sm-5">
                    <input placeholder="Native Name" [(ngModel)]="locationData.name" type="text" name="title"
                        required />
                </div>
                <div class="col-sm-1"></div>

            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">District Number</div>
                <div class="col-sm-5">
                    <input required placeholder="District Number" [(ngModel)]="locationData.dist_number" type="number"
                        name="native" min="1" required />
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                    <button type="submit" value="submit"
                        style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Submit
                    </button>

                </div>
                <div class="col-sm-4">
                    <button (click)="c('Close click')"
                        style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Close
                    </button>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </form>
</ng-template>


<!-- <Edit District  Modal> -->
<ng-template #editDistrictModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" (submit)="editDistrictForm()" #LoginForm="ngForm">
        <div>
            <h2 style="text-align: center;">Edit District</h2>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    District Name
                </div>
                <div class="col-sm-5">
                    <input placeholder="District Name" [(ngModel)]="district_new_id.title" type="text" name="title"
                        required />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    Native Name
                </div>
                <div class="col-sm-5">
                    <input placeholder="Native Name" [(ngModel)]="district_new_id.name" type="text" name="native"
                        required />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">District Number</div>
                <div class="col-sm-5">
                    <input required placeholder="District Number" [(ngModel)]="district_new_id.dist_number"
                        type="number" name="dist_number" required />
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">
                    <button type="submit" data-dismiss="editDistrictModel" value="submit"
                        style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Submit
                    </button>
                </div>
                <div class="col-sm-4">
                    <button (click)="c('Close click')"
                        style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Close
                    </button>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </form>
</ng-template>


<!-- <Delete District  Modal> -->
<ng-template #delDistrictModel let-c="close" let-d="dismiss">
    <form class="content" role="form" method="post" (submit)="delDistricts()" #deleteDistrictsForm="ngForm">
        <div>


            <div class="row" style="margin-top: 10px; font-size: medium;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    Are You Sure You Want To Delete
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                    <button type="submit" value="submit"
                        style=" margin: 2px; width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Delete
                    </button>

                </div>
                <div class="col-sm-4">
                    <button (click)="c('Close click')"
                        style="width: 6em; height: 2em;background-color: #1890ff; border: none; color: white;">
                        Close
                    </button>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>
    </form>
</ng-template>